@import "../../../../assets/style/variables";
@import "../../../../assets/style/functions";

.sidebar {
  flex: 0 0 20%;
  background-color: var(--sidebarBackground);
  border-right: 1px solid var(--infoCard);

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
    color: var(--textColor);

    &_img {
      width: 30px;
    }
  }

  &-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    &_img {
      display: flex;
      width: 55px;
      padding: 10px;
      border: 1px solid;
      border-color: var(--menuItemColor);
      border-radius: 50%;
    }

    &_name {
      margin: 10px 0 5px;
      color: var(--textColor);
      font-size: 20px;
      font-weight: bold;
    }

    &_position {
      color: var(--menuHeaderColor);
      font-size: 18px;
      margin-bottom: 16px;
    }

    &_actions {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      &-icon {
        width: 15px;
        cursor: pointer;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  &-item {
    padding: 11px 20px;
    display: flex;
    align-items: center;
    height: 20px;

    &:last-child {
      position: absolute;
      bottom: 0;
      padding-bottom: 25px;
    }

    &_active {
      a {
        color: $main-color;
      }
    }

    &_text {
      color: var(--menuItemColor);
      font-size: 18px;
      margin-left: 15px;

      &-active {
        color: $main-color;
      }
    }

    &_title {
      letter-spacing: 1px;
      color: var(--menuHeaderColor);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }

    &_icon {
      width: 18px;
      height: 100%;
    }
  }
}

.content {
  flex: 0 1 80%;
  background-color: var(--outletBackground);
}

.lock-screen {
  filter: blur(30px);
}