<div class="page-wrap">
  <div class="page-title">
    <h4 class="page-title_header">{{ 'DASHBOARD.categories' | translate }}</h4>
    <button class="page-title_button" routerLink="/categories/new">
      {{ 'CATEGORIES.add-category' | translate }}
    </button>
  </div>

  <div
    class="page-content"
    *ngIf="categories$ | async as categories; else loader"
  >
    <div class="col s12">
      <div class="collection" *ngIf="categories.length !== 0; else empty">
        <a
          *ngFor="let category of categories"
          [routerLink]="['/', 'categories', category._id]"
          class="collection-item"
        >
          {{ category.name }}
        </a>
      </div>
      <ng-template #empty>
        <div class="empty">
          <img
            class="empty_img"
            src="../../assets/icons/empty.png"
            alt="Empty"
          />
          <span class="empty_message">{{
            'CATEGORIES.dont-have-category' | translate
          }}</span>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
