<div *ngIf="categories$ | async as categories; else loader">
  <div
    class="row order-row categories"
    *ngIf="categories.length !== 0; else empty"
  >
    <div
      *ngFor="let category of categories"
      class="card waves-effect pointer categories-item"
      [routerLink]="['/order', category._id]"
    >
      <div class="categories-item_image-wrap">
        <img [src]="category.imageSrc" class="categories-item_image" />
      </div>
      <div class="categories-item_text center p10">
        <span class="m0">{{ category.name }}</span>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="empty">
      <img
        class="empty_img"
        src="../../assets/icons/empty.png"
        alt="Empty"
      />
      <span class="empty_message">{{
        'ORDERS.no-items' | translate
      }}</span>
  </div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
