<div *ngIf="positions$ | async as positions; else loader">
  <table class="highlight" *ngIf="positions.length !== 0; else empty">
    <thead>
      <tr>
        <th>{{ 'ORDERS.name' | translate }}</th>
        <th>{{ 'ORDERS.price' | translate }}</th>
        <th>{{ 'ORDERS.amount' | translate }}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let position of positions">
        <td>{{ position.name }}</td>
        <td>{{ position.cost }} $</td>
        <td>
          <div class="input-field inline order-position-input">
            <input
              type="number"
              value="1"
              min="1"
              [(ngModel)]="position.quantity"
            />
          </div>
        </td>
        <td class="table-last-item">
          <button
            class="btn waves-effect wavers-light btn-small green"
            (click)="addToOrder(position)"
            [disabled]="!position.quantity"
          >
            {{ 'ORDERS.add' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #empty>
    <div class="center">{{ 'ORDERS.no-items' | translate }}</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
