<div class="d-flex w100p h100vh">
  <div class="sidebar">
    <!-- LOGO -->
    <ng-container *ngIf="logo$ | async as logo">
      <div class="sidebar-title">
        <img
        *ngIf="logo; else defaultLogo"
          [src]="logo"
          alt="Logo"
          class="sidebar-title_img"
        />
        <ng-template #defaultLogo>
          <img
            src="../../../../assets/icons/pngegg.png"
            alt="Logo"
            class="sidebar-title_img"
          />
        </ng-template>
      </div>
    </ng-container>
     
    <!-- LOGO -->

    <!-- USER -->
    <div *ngIf="user$ | async as user" class="sidebar-user">
      <img *ngIf="user?.image; else avatarIcon" [src]="user?.image" alt="avatar"  class="sidebar-user_img">
      <ng-template #avatarIcon>
        <div [innerHtml]="avatarIcon | safe" class="sidebar-user_img"></div>
      </ng-template>
      <p class="sidebar-user_name">{{ user?.firstName }} {{ user?.lastName }}</p>
      <p class="sidebar-user_position">{{ translatedRole | translate | titlecase  }}</p>
      <div class="sidebar-user_actions">
        <div
          [innerHtml]="settingsIcon | safe"
          routerLink="/settings"
          class="sidebar-user_actions-icon"
        ></div>
        <div
          [innerHtml]="(screenLocked ? lockIcon : unlockIcon) | safe"
          (click)="lockScreen()"
          class="sidebar-user_actions-icon"
        ></div>
      </div>
    </div>
    <!-- USER -->

    <!-- MENU ITEMS -->
    <div class="sidebar-item">
      <span class="sidebar-item_title"> navigation </span>
    </div>
    <ng-container *ngFor="let link of links">
      <div
        class="sidebar-item"
        *ngIf="link.acces.includes(userRole)"
        routerLinkActive="sidebar-item_active"
      >
        <div [innerHtml]="link.img | safe" class="sidebar-item_icon"></div>
        <a
          [routerLink]="!screenLocked ? link.url : null"
          class="sidebar-item_text"
          (click)="link.active = true"
        >
          {{ link.name | translate }}
        </a>
      </div>
    </ng-container>
    <!-- MENU ITEMS -->

    <!-- SIGN OUT -->
    <div class="sidebar-item" (click)="logout($event)">
      <div [innerHtml]="exitIcon | safe" class="sidebar-item_icon"></div>
      <a [routerLink]="'/login'" class="sidebar-item_text">
        {{ 'AUTH.sign-out' | translate }}
      </a>
    </div>
    <!-- SIGN OUT -->
  </div>

  <main class="content">
    <div [ngClass]="{ 'lock-screen': screenLocked }">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<div class="fixed-action-btn" #floatingRef>
  <a class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green" routerLink="/order"
        ><i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue" routerLink="/categories/new"
        ><i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</div>

<!-- <a
    id="menu"
    class="waves-effect waves-light btn btn-floating">
    <i class="material-icons">info</i>
  </a> -->
