<div class="page-wrap">
  <div class="page-title">
    <h4 class="page-title_header">
      {{ 'HISTORY.history-of-orders' | translate }}
    </h4>
    <button
      (click)="isFilterVisible = !isFilterVisible"
      class="page-title_button"
      [ngClass]="{
        active: isFilterVisible
      }"
      [attr.data-tooltip]="'HISTORY.open-filter' | translate"
      data-position="left"
      #tooltip
    >
      <!-- 'red': isFiltered() -->
      <i class="material-icons">filter_list</i>
    </button>
  </div>

  <app-history-filter
    *ngIf="isFilterVisible"
    (onFilter)="applyFilter($event)"
  ></app-history-filter>

  <div *ngIf="!reloading; else reloadingBlock" class="page-content">
    <div *ngIf="orders.length > 0; else empty">
      <app-history-list [orders]="orders"></app-history-list>
      <div class="center mb2 mt12" *ngIf="!noMoreOrders">
        <button
          class="page-title_button"
          (click)="loadMore()"
          *ngIf="!loading && orders.length > 10"
        >
          {{ 'HISTORY.load-more' | translate }}
        </button>
        <app-loader *ngIf="loading"></app-loader>
      </div>
    </div>
    <ng-template #empty>
      <div class="empty">
        <img
          class="empty_img"
          src="../../assets/icons/empty.png"
          alt="Empty"
        />
        <span class="empty_message">{{
          'HISTORY.no-orders' | translate
        }}</span>
      </div>
    </ng-template>
  </div>

  <ng-template #reloadingBlock>
    <app-loader></app-loader>
  </ng-template>
</div>
