<div class="auth">
  <div
    class="auth-left"
    [ngClass]="{'auth-left_cover': updatePage}">
    <img
      src="../../../../assets/icons/auth-bg.png"
      alt="Background"
      class="auth-left_bg">
  </div>
  <div class="auth-right">
    <div class="auth-right_languages">
      <img
        src="../../../../assets/icons/languages/en.png"
        class="auth-right_languages-lang"
        alt="English language"
        (click)="setLanguage('en')">
      <img
        src="../../../../assets/icons/languages/ua.png"
        class="auth-right_languages-lang"
        alt="Українська мова"
        (click)="setLanguage('uk')">
      <img
        src="../../../../assets/icons/languages/ru.png"
        class="auth-right_languages-lang"
        alt="Русский язык"
        (click)="setLanguage('ru')">

      <theme-toggler></theme-toggler>
    </div>
    <div class="auth-right_block">
      <router-outlet (activate)="changedAuthType($event)"></router-outlet>
    </div>
  </div>
</div>