<div class="filter">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input
          class="filter-input"
          type="number"
          id="number"
          min="1"
          [(ngModel)]="order"
        />
        <label class="filter-label" for="number">{{
          'HISTORY.order-number' | translate
        }}</label>
      </div>
    </div>
    <div class="col filter-pickers">
      <div class="input-field">
        <input class="filter-input" type="text" #start />
        <label class="filter-label">{{ 'HISTORY.start' | translate }}</label>
      </div>

      <div class="input-field">
        <input class="filter-input" type="text" #end />
        <label class="filter-label">{{ 'HISTORY.end' | translate }}</label>
      </div>
    </div>
  </div>

  <button
    class="page-title_button"
    (click)="submitFilter()"
    [disabled]="!isValid"
  >
    {{ 'HISTORY.apply-filter' | translate }}
  </button>
</div>
