<div class="row">
  <div class="col s12 page-content">
    <div class="page-title">
      <h4 class="page-title_header">
        {{ 'CATEGORIES.positions' | translate }}:
      </h4>
      <button class="page-title_button" (click)="onAddPosition()">
        {{ 'CATEGORIES.add-position' | translate }}
      </button>
    </div>

    <div class="page-content form">
      <div *ngIf="!loading; else loader">
        <div class="collection" *ngIf="positions.length !== 0; else empty">
          <a
            *ngFor="let position of positions"
            class="collection-item collection-item-icon"
            (click)="onSelectPosition(position)"
          >
            <span>
              {{ position.name }} - <strong>{{ position.cost }}$</strong>
            </span>
            <span>
              <i
                class="material-icons color-red"
                (click)="onDeletePosition($event, position)"
                >delete</i
              >
            </span>
          </a>
        </div>
        <ng-template #empty>
          <div class="center">{{ 'CATEGORIES.no-positions' | translate }}</div>
        </ng-template>
      </div>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal modal-fixed-footer" #modal>
      <div class="modal-content">
        <h4 class="mb1">{{ 'CATEGORIES.add-position' | translate }}</h4>
        <div class="input-field">
          <input
            formControlName="name"
            id="pos-name"
            type="text"
            [ngClass]="{
              invalid: form.get('name').invalid && form.get('name').touched
            }"
          />
          <label for="pos-name">{{
            'CATEGORIES.position-name' | translate
          }}</label>
          <span
            *ngIf="form.get('name').invalid && form.get('name').touched"
            class="helper-text red-text"
          >
            {{ 'CATEGORIES.no-empty-name' | translate }}
          </span>
        </div>
        <div class="input-field">
          <input
            id="pos-cost"
            type="number"
            min="1"
            formControlName="cost"
            [ngClass]="{
              invalid: form.get('cost').invalid && form.get('cost').touched
            }"
          />
          <label for="pos-cost">{{ 'CATEGORIES.price' | translate }}</label>
          <span
            *ngIf="form.get('cost').invalid && form.get('cost').touched"
            class="helper-text red-text"
          >
            {{ 'CATEGORIES.enter-price' | translate }}
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="onCancel()"
          class="modal-action waves-effect waves-black btn-flat"
          [disabled]="form.disabled"
        >
          {{ 'CATEGORIES.cancel' | translate }}
        </button>
        <button
          class="modal-action btn waves-effect green"
          type="submit"
          [disabled]="form.invalid || form.disabled"
        >
          {{ 'CATEGORIES.save-position' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
